#customers {
    position: absolute;
    left: 300px;
    top: 30px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align:  center;
    
}

#customers tr:nth-child(even){background-color: #fca6e8;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a142f4;
    color: white;
}

